body {
    background: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #151313;
    line-height: 1;
}

*,
*:after,
*:before{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
}


/*Container */
.container {
    width:100%;
    max-width: 1200px;
    margin: auto;

}
.text {
    color: #411919;
    text-shadow: 2px 2px 2px rgb(173, 106, 88), 0 0 1em rgb(222, 106, 28);
    font-size: 125px;
    font-family: 'Merriweather', serif;

}

/*Intro*/

.intro {
    text-align: center;
    width: 100%;
    background-image: url("img/intro.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 120px;
}

/*.line{
    width: 350px;
    height: 1px;
    margin: 0 auto;
    background-color: #26100b;
}*/
/*buttons*/

.buttons {
    display: inline-block;
    text-align: center;
    width: 100%;
    background: rgba(131, 84, 49, 0.37);
    padding: 22px 22px;
}

.nav {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 50px;

    color: #7e5a5a;
    text-decoration: none;

}
.nav_link:hover{
    color: rgba(73, 51, 34, 0.37);
    text-decoration: underline;
}


/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover
.dropdown-content {
    display: block;
}
.hot {
    text-align: center;
    align-items: center;
    background-size: cover;
    font-size: 30px;

}

.main {
    display: flex;
    justify-content: center;
    position: relative;
    padding-left:20px;
    margin-left: 20px;
    align-items: center;
}

img {
    width: 360px;
    height: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    filter: blur(2px);
}



/* Style the button and place it in the middle of the container/image */
.main .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, +20%);
    background-color: rgba(28,28,28,0);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: 2px solid white; /* Параметры рамки */
    cursor: pointer;
    border-radius: 5px;
}


.centered {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
    color: white;
    font-size: 35px;
}

.vesna {
    display: inline-block;

}
.leto {
    font-size: 14px;
}
.block {
    margin:auto;
    width: 860px;
    display: flex;
}
.small-text{
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bolder;

}



